

.catchMe {
    margin-top: 20vh;
    text-align: center;
    a { 
        text-decoration: none;
        color: black;
        margin: 10px;
        font-size: 30px;
        &:hover {    
            color: pink;
        }        
    }

}
