.img-gallery {
  display: inline;
  background-color: black;
  margin: -5px 0;
}
.img-gallery img {
  width: 50%;
  margin: -5px 0;
  cursor: pointer;
  
}
.big-img {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid white;
    border-radius: 5px;
   
  
}
.big-img img{   
  position: fixed;
  top: 0;
  max-height: 100vh;  
  border: 2px solid white;
  cursor: pointer;
  
}

h2 {
    font-size: 40px;
    font-weight: 250;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 45px;
    
}

.background {
    max-width: 1000px;
    background-color: #111111;
    margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .big-img img{   
    border: none; 
  }
}

@media screen and (max-width: 600px) {
  .img-gallery img {
    width: 100%;
  } 
  .big-img img{   
    border: none;
  }
}
