// backgrounds

$mainBackground: #f0ffff; 
$pageBackground: #111111; 

// text sizes

$bigSize: 50px;
$titleSize: 40px;
$midiSize: 30px;
$resSize: 18px;
$textSize: 16px;

// font colors

$mainColor: black;
$secondColor: #f0ffff;

$mainWeight: 220;
$secondWeight: 280;